<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <h1 class="logo">
        <a href="/index">
            <span>MYBLOG</span>
            <img src="/img/logo.png">
        </a>
    </h1>
    <div class="nav">
        <a href="/index">文章</a>
        <!--<a href="/whisper"  >微语</a>-->
        <a href="/leacots">留言</a>
        <a href="/album">相册</a>
        <a href="/about">关于</a>
        <a href="/login">登录</a>
        <a href="/signup" class="active" >注册</a>
    </div>
    <ul class="layui-nav header-down-nav">
        <li class="layui-nav-item"><a href="/index">文章</a></li>
        <!--<li class="layui-nav-item"><a href="whisper.html" >微语</a></li>-->
        <li class="layui-nav-item"><a href="/leacots">留言</a></li>
        <li class="layui-nav-item"><a href="/album">相册</a></li>
        <li class="layui-nav-item"><a href="/about">关于</a></li>
        <li class="layui-nav-item"><a href="/login" >登录</a></li>
        <li class="layui-nav-item"><a href="/signup" class="active" >注册</a></li>
    </ul>
    <p class="welcome-text">
        欢迎来到<span class="name">蔷薇繁</span>的博客~
    </p>
</div>


<div class="content whisper-content">
    <div class="layui-container fly-marginTop">
        <div class="fly-panel fly-panel-user" pad20="">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li><a href="/login">登录</a></li>
                    <li class="layui-this">注册</li> </ul>

                </ul>

                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">

                        <div class="layui-form layui-form-pane">

                            <form method="post" action="/user/signup">
                                <div class="layui-form-item"> <input type="hidden" name="secret" value="%E9%98%B2%E6%AD%A2%E5%B9%BF%E5%91%8A%E7%8B%97453546">
                                    <label class="layui-form-label">账号</label> <div class="layui-input-inline">
                                        <input type="text" id="L_loginName" name="userid" required="" lay-verify="required" autocomplete="off" class="layui-input">
                                    </div>


                                </div> <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">昵称</label> <div class="layui-input-inline">
                                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                            </div> <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label> <div class="layui-input-inline">
                                <input type="password" id="L_pass" name="pass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>

                            </div>
                                <div class="layui-form-item">
                                    <label  class="layui-form-label">头像</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="headimage" name="headimage" style="display:none" value="隐藏域" />
                                        <button type="button" class="layui-btn" id="test1">
                                            <i class="layui-icon">&#xe67c;</i>上传头像（不上传系统默认分配，请使用50*50像素的图像）
                                        </button>
                                        <!--<input type="hidden" id="headimage" name="headImage">-->


                                    </div>
                                </div>
                                <div class="layui-form-item"> <button class="layui-btn" lay-filter="*" lay-submit="">立即注册</button> <span style="padding-left:20px;"> </span> </div> <div class="layui-form-item fly-form-app"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="footer-wrap">
    <div class="footer w1000">
        <div class="qrcode">
            <img src="/img/erweima.jpg">
        </div>
        <div class="practice-mode">
            <img src="/img/down_img.jpg">
            <div class="text">
                <h4 class="title">我的联系方式</h4>
                <p>微信<span class="WeChat">1430833756</span></p>
                <p>qq<span class="iphone">13026119043</span></p>
                <p>邮箱<span class="email">1430833756@qq.com</span></p>
            </div>
        </div>
    </div>
</div>

<script src="/layui/layui.js"></script>

<script>
    //账号输入框失去焦点函数
    $("#L_loginName").blur(function(){
       var userid=$("#L_loginName").val();
        var reg = /^\d{1,10}$/;
        if(reg.test(userid)){
            if(userid!=''){
                $.ajax({
                    type:"GET",
                    cache:false,
                    url:"/signup/userid",
                    data:{
                        "userid":userid,
                    },
                    async:true,
                    success:function(result){
                        //展示相应的数据
                        //alert(result['status']);
                        if(!result['status']==true){
                            alert("账号已存在");
                        }else{
                            //上传头像
                            var imagepath="/img/morenhead.jpg";  //默认头像

                            layui.use('upload', function(){

                                var upload = layui.upload;

                                //执行实例
                                var uploadInst = upload.render({
                                    elem: '#test1' //绑定元素
                                    ,url: '/upload/articleimage' //上传接口
                                    ,data:{
                                        "imagepath":imagepath
                                    },done: function(res){
                                        //上传完毕回调
                                        imagepath = res["imagepath"];
                                        //$("#headimage").value=imagepath;

                                        document.getElementById("headimage").value=imagepath;
                                        alert($("#headimage").val());

                                    }
                                    ,error: function(){
                                        //请求异常回调
                                        alert("上传失败");
                                    }
                                });
                            });
                        }
                    }
                });
            }
        }else{
            alert("请输入10位以内数字");
        }



    });

</script>
<script type="text/javascript">
    layui.config({
        base: '/js/util/'
    }).use(['element','laypage','form','layer','menu'],function(){
        element = layui.element,laypage = layui.laypage,form = layui.form,layer = layui.layer,menu = layui.menu;
        menu.init();
    })
</script>

</body>
</html>